.chargement-contenue {
  position: absolute;
  z-index: 20;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  animation: chargement-page 3s ease-in-out normal forwards;
  opacity: 1;
  background: #353535;
  position: fixed; }
  
  .chargement-contenue .logo-chargement {
    width: auto;
    height: 30px;
    margin-bottom: 20px; }


.chargement {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60px; }
  
  .chargement_cercle1 {
    width: 15px;
    height: 15px;
    animation: circle-sparkle 1s ease-in-out alternate-reverse infinite;
    animation-delay: 0.5s;
    border-radius: 50%;
    background: #9356DC; }

  .chargement_cercle2 {
    width: 15px;
    height: 15px;
    animation: circle-sparkle 1s ease-in-out alternate-reverse infinite;
    animation-delay: 1s;
    border-radius: 50%;
    background: #FF79DA; }

  .chargement_cercle3 {
    width: 15px;
    height: 15px;
    animation: circle-sparkle 1s ease-in-out alternate-reverse infinite;
    animation-delay: 1.5s;
    border-radius: 50%;
    background: #99E2D0; }


@keyframes chargement-page {
  0% {
    opacity: 1; }
  75% {
    opacity: 1; }
  99% {
    opacity: 0; }
  100% {
    visibility: hidden;
    opacity: 0; } }
}body,html{margin:0;font-family:Roboto,sans-serif;scroll-behavior:smooth}
.contenue
{max-width:1280px;margin:auto;position:relative}
.header{padding:1rem;box-shadow:0 0 .5rem rgba(0,0,0,.25);position:relative;z-index:1000}
.headerlogo{;margin:0;text-align:center;}
.footer{background-color:#353535}
.contenue{display:flex;flex-direction:column;padding:1rem}
.footerlogo{color:#fff;font-family:Shrikhand,"cursive";font-size:1.2rem;margin:0 0 1rem}
.footerliste1{list-style:none;padding:0;margin:0}
.footerliste2{margin:.5rem 0}
.footerliste2:first-child{margin-top:0}
.footerliste2:last-child{margin-bottom:0}
.footerlien{color:#fff;text-decoration:none}
.footerlien: hover{text-decoration:underline}
.footericone{width:1.2rem;margin-right:.5rem}
.localisation{display:flex;justify-content:center;padding:1.25rem 1rem;background-color:#f3f3f3;font-size:1.2rem;position:relative}
.localisationicone{margin-right:1rem}
.localisationtexte{font-weight:700}
.menussss {padding:2rem;text-align:center;background-color:#fafafa}
.menutitre{margin:0}
.menusoustitre{font-weight:300;margin:1.5rem 0}
.menubouton{border:0;padding:.75rem 1.5rem;font-weight:500;font-size:1.1rem;border-radius:100px;color:#fff;background-color:#686868;background-image:linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));transition-duration:.25s;box-shadow:.25rem .25rem 10px rgba(0,0,0,.25);cursor:pointer}
.menubouton:hover{background-color:#fff;box-shadow:.25rem .25rem 10px rgba(0,0,0,.5)}
.menubouton a{text-decoration:none;color:inherit}


@media screen and (max-width: 750px) {
  /* line 147, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_home.scss */
  .titre-h2 {
    width: 336px; } }

@media screen and (min-width: 751px) {
  /* line 147, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_home.scss */
  .titre-h2 {
    width: calc((170px + 15px + 30px)*3); } }

@media screen and (min-width: 1100px) {
  /* line 147, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_home.scss */
  .titre-h2 {
    display: flex;
    justify-content: center;
    width: 100%; } }

/* line 163, /Volumes/HDD/FORMATIONS/Formation Openclassrooms/+ OC Web Dev 2020/Projets/P3/P3-OhMyFood/sass/pages/_home.scss */
.titre-h2 h2 {
  margin: 40px 0 20px 0; }
.fonctionicone {margin-right:1rem;color:#7e7e7e}
.restaurants{background-color:#f6f6f6;padding:2rem 1rem}
.menucartes{display:grid;grid-template-columns:repeat(1,1fr);column-gap:2rem;row-gap:2rem}@media (min-width:64rem){
.menucartes{grid-template-columns:repeat(2,1fr)}}
.cartesmanger{background-color:#fff;border-radius:1rem;position:relative;text-decoration:none;color:inherit;display:block}
.cartesmangerimg{height:12rem;width:100%;border:0 solid transparent;border-radius:1rem 1rem 0 0;box-shadow:none;object-fit:cover}
.cartesmangernew{background-color:#99e2d0;color:#1b6150;padding:.5rem;border-radius:.125rem;position:absolute;top:1rem;right:.75rem}
.cartesmangerfooter{padding:1rem;position:relative;display:flex;align-items:center}
.cartesmangercontenue{flex:1}
.cartesmangertitre{margin:0 0 .25rem}
.cartesmangersoustitre{margin:0}
.coeurbouton{height:2rem;width:2rem;background-color:transparent;border:0 solid transparent;padding:0;display:flex;align-items:center;justify-content:center}
.headerflechegauche{position:relative}
.headerfleche{position:absolute;left:2rem;height:2rem;width:2rem;top:50%;display:flex;align-items:center;justify-content:center;transform:translateY(-50%);font-size:1.2rem;color:#000}
.Imgprincipal{max-width:100%;max-height:32rem;width:100%;object-fit:cover}
.contenuemenu{margin-top:-4rem;border-radius:2rem 2rem 0 0;background-color:#f6f6f6;z-index:1;position:relative}
.headermenu{padding:1rem 2rem 0 1rem;display:flex;align-items:center;justify-content:space-between}
.contenumenu{margin-top:-4rem;border-radius:2rem 2rem 0 0;background-color:#f6f6f6;z-index:1;position:relative}
.headermenu{padding:1rem 2rem 0 1rem;display:flex;align-items:center;justify-content:space-between}
.menutitre{font-family:Shrikhand,"cursive"}

.headerelement{flex:1}
.elementtitre{white-space:nowrap;text-overflow:ellipsis;overflow:hidden}
.Btnviolet{display:flex;text-decoration:none;justify-content:center;padding:3rem 0}
.commanderBtn{border:0;padding:.75rem 1.5rem;font-weight:500;font-size:1.1rem;border-radius:100px;color:#fff;background-color:#686868;background-image:linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));transition-duration:.25s;box-shadow:.25rem .25rem 10px rgba(0,0,0,.25);cursor:pointer}
.commanderBtn:hover{background-color:#fff;box-shadow:.25rem .25rem 10px rgba(0,0,0,.5)}
.commanderBtn a{text-decoration:none;color:inherit}


@font-face {
	font-family: 'mashrikland';
	src  :url(Shrikhand-Regular.ttf);
}

.headerlogo

{
	font-family: 'mashrikland';

}
@font-face {
	font-family: 'maroboto';
	src:url(Roboto-Regular.ttf);
}
.sousmenutitre

{
	font-family: 'maroboto';

}
@font-face {
	font-family: 'mashrikland';
	src  :url(Shrikhand-Regular.ttf);
}

.menutitre
{
	font-family: 'mashrikland';

}
 
  .menus .top-menu {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    letter-spacing: 0.07rem; }
    @media screen and (max-width: 750px) {
     
      .menus .top-menu {
        justify-content: space-between; } }
    
    .menus .top-menu .card-desc__favorite {
      margin: 0 15px;
      padding: 20px;
      color: #000000; }
  
  .menus .choix-plat {
    margin-bottom: 32px; }
    
    .menus .choix-plat .titre {
      font-weight: 200;
      color: #000000; }
      @media screen and (max-width: 750px) {
        
        .menus .choix-plat .titre {
          font-size: 1rem; } }
      @media screen and (min-width: 751px) {
        
        .menus .choix-plat .titre {
          font-size: 1.25rem; } }
   
    .menus .choix-plat .filet {
      width: 40px;
      height: 3px;
      margin: 5px 0 12px 0;
      background-color: #99E2D0; }
 
    .menus .choix-plat .titre,
    .menus .choix-plat .filet {
      margin-left: 10px; }
    @media screen and (min-width: 751px) {
   
      .menus .choix-plat .plats {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: calc(100% + 10px + 10px);
        margin-left: -10px; } }

    .menus .choix-plat .plat {
      position: relative;
      top: 45px;
      overflow: hidden;
      margin-bottom: 12px;
      padding: 12px;
      animation: move-card 1s cubic-bezier(0, 0, 0, 1) forwards;
      opacity: 0;
      border-radius: 15px;
      background-color: #FFFFFF;
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15); }
      @media screen and (max-width: 750px) {
        
        .menus .choix-plat .plat {
          min-width: 300px;
          padding-right: 25px; } }
      @media screen and (min-width: 751px) {
        
        .menus .choix-plat .plat {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: calc(100% - 40px);
          margin: 0 10px 0 10px; } }
      
      .menus .choix-plat .plat--1 {
        animation-delay: 0.16667s; }
      
      .menus .choix-plat .plat--2 {
        animation-delay: 0.33333s; }
      .menus .choix-plat .plat--3 {
        animation-delay: 0.5s; }
 
      .menus .choix-plat .plat--4 {
        animation-delay: 0.66667s; }
      
      .menus .choix-plat .plat--5 {
        animation-delay: 0.83333s; }
      
      .menus .choix-plat .plat--6 {
        animation-delay: 1s; }
      
      .menus .choix-plat .plat--7 {
        animation-delay: 1.16667s; }
      
      .menus .choix-plat .plat--8 {
        animation-delay: 1.33333s; }
      
      .menus .choix-plat .plat--9 {
        animation-delay: 1.5s; }
      
      .menus .choix-plat .plat--10 {
        animation-delay: 1.66667s; }
    
      .menus .choix-plat .plat__nom {
        font-size: 1.125rem;
        font-weight: 500;
        line-height: 1.8rem;
        width: calc(100% - 60px); }
      
      .menus .choix-plat .plat__ligne2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        transition: width 400ms, text-overflow 400ms, margin-right 400ms, overflow 400ms; }
     
      .menus .choix-plat .plat__desc {
        font-size: 1rem;
        font-weight: 300;
        overflow: hidden;
        transition: width 400ms, text-overflow 400ms;
        white-space: nowrap;
        text-overflow: ellipsis; }
      
      .menus .choix-plat .plat__prix {
        font-size: 1rem;
        font-weight: bold;
        transition: margin-right 400ms; }
      
      .menus .choix-plat .plat__valid {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        transition-duration: 400ms;
        transform: translateX(60px); }
        
        .menus .choix-plat .plat__valid__bg {
          width: 60px;
          height: 100%;
          background: #99E2D0; }
       
        .menus .choix-plat .plat__valid__icon {
          font-size: 1.3rem;
          position: absolute;
          top: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          transition-duration: 400ms;
          transform: rotate(360deg);
          color: #FFFFFF; }
 
  .menus .button-container {
    display: flex;
    justify-content: center;
    margin: 10px 0 50px 0; }


.plat:hover .plat__valid {
  transform: translateX(0px); }

.plat:hover .plat__valid__icon {
  transform: rotate(0deg); }


.plat:hover .plat__desc {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.plat:hover .plat__prix {
  margin-right: 60px; }

@keyframes move-card {
  0% {
    opacity: 0; }
  100% {
    transform: translateY(-45px);
    opacity: 1; } }
    .coeurbouton{height:2rem;width:2rem;background-color:transparent;border:0 solid transparent;padding:0;display:flex;align-items:center;justify-content:center}

.boutoncoeur{height:2rem;width:2rem;background-color:transparent;border:0 solid transparent;padding:0;display:flex;align-items:center;justify-content:center;cursor:pointer;position:relative;background-color:#000}
.boutoncoeur:hover:before{opacity:1}
.boutoncoeur:before{opacity:0;transition:.5s;content:"";background:linear-gradient(0deg,#9356dc,#ff79da)}
.boutoncoeur:before,
.menu__like{position:absolute;top:0;left:0;height:100%;width:100%}
.menu__like{transition-duration:.25s;background-color:#f6f6f6;display:flex;align-items:center;justify-content:center;mix-blend-mode:lighten}
.boutoncoeur:hover 
.menu__like--noBg{opacity:0}
.fonctionnement__step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 25px 0;
  height: 60px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 2px 0.5em 1px #bababa;
          box-shadow: 0px 2px 0.5em 1px #bababa;
  background-color: #ededed;
}

.bloc-title {
  font-weight: bold;
  font-size: 1.5rem;
  padding: 50px 0 10px 20px;
  margin: 0;
}

.bloc-fonctionnement {
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.onglet-fonct {
  text-decoration: none;
  display: flex;
  align-items: center;
  background: #ececec;
  border-radius: 20px;
  margin: 10px 20px 10px 25px;
  box-shadow: 2px 2px 7px #d3d3d3;
}
.onglet-fonct__ball {
  position: relative;
  margin-left: -10px;
  height: 27px;
  width: 27px;
  background: #9356DC;
  border-radius: 20px;
}
.onglet-fonct .fas {
  width: 15px;
  height: 15px;
  color: #636363cc;
  margin-left: 20px;
}
.onglet-fonct__numb {
  margin: 4px 0 0 9px;
  font-weight: bold;
  color: white;
}
.onglet-fonct__text {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1rem;
  padding: 27px;
  margin: 0;
}
.onglet-fonct:hover {
  background: #f2eafb;
  transition: 0.5s linear;
}
.onglet-fonct:hover .fas {
  color: #9356DC;
  transition: 0.5s linear;
}
.footer-omf {
  background: rgba(23, 23, 23, 0.8);
  height: 200px;
}
.footer-omf__bloc {
  margin: 0px 20px;
}
.footer-omf__title {
  color: white;
  font-family: "Shrikhand";
  letter-spacing: 0.05rem;
  margin: 0;
  padding: 20px 0px 18px 0px;
}
.footer-omf__bloctext {
  margin: 8px 0;
}
.footer-omf__bloctext .fas {
  font-size: 0.7rem;
  margin-right: 8px;
}
.footer-omf__bloclink {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1rem;
}
.footer-omf__bloclinklight {
  text-decoration: none;
  color: white;
  font-weight: normal;
  font-size: 1rem;
}
.page-restaurant__title {
  font-family: "Shrikhand";
  font-size: 1.75rem;
  margin: 0;
  padding-top: 20px;
}
.page-restaurant .hoverheart:hover .fas.fa-heart {
  opacity: 1;
  transition: 0.3s ease-in-out;
}
.page-restaurant .hoverheart:hover .far.fa-heart {
  opacity: 0;
  transition: 0.3s ease-in-out;

}
@font-face {
  font-family: 'maroboto';
  src:url(Roboto-Regular.ttf);
}
.cartesmangertitre

{
  font-family: 'maroboto';

}
@font-face {
  font-family: 'maroboto';
  src:url(Roboto-Regular.ttf);
}
.cartesmangersoustitre

{
  font-family: 'maroboto';

}
@font-face {
  font-family: 'maroboto';
  src:url(Roboto-Regular.ttf);
}
.restaurantstitre

{
  font-family: 'maroboto';

}
@font-face {
  font-family: 'maroboto';
  src:url(Roboto-Regular.ttf);
}
.onglet-fonct__text

{
  font-family: 'maroboto';

}
@font-face {
  font-family: 'maroboto';
  src:url(Roboto-Regular.ttf);
}
.bloc-title

{
  font-family: 'maroboto';

}

@font-face {
  font-family: 'mashrikland';
  src  :url(Shrikhand-Regular.ttf);
}

.footer-omf__title
{
  font-family: 'mashrikland';

}
.headerlogos
{

    margin-right: auto;
    
  }
  @font-face {
  font-family: 'mashrikland';
  src  :url(Shrikhand-Regular.ttf);
}

.headerlogos
{
  font-family: 'mashrikland';

}
@font-face {
  font-family: 'maroboto';
  src:url(Roboto-Regular.ttf);
}
.localisationtexte

{
  font-family: 'maroboto';

}
@font-face {
  font-family: 'maroboto';
  src:url(Roboto-Regular.ttf);
}
.cartesmangernew

{
  font-family: 'maroboto';

}
@font-face {
  font-family: 'maroboto';
  src:url(Roboto-Regular.ttf);
}
.footer-omf__bloclinklight

{
  font-family: 'maroboto';

}